body{
	background-color: #632121;
	font-family: arial;
}
.topp1{
	padding: 10px;
}
.topp{
	background-image: url(bilder/torino_top1.png);
	margin: auto;
	background-size: cover;
	height: 300px;
	width: 300px;
}
.toppmeny{
	background-color: #330909;
	width: 1100px; 
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.toppmeny a{
	color: #fff;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
}
.toppmeny a:hover{
	font-size: 22px;
	color: #bbb;
}
.innhold{
	background-color: #fff;
	width: 1100px;
	margin: auto;
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.start{
	width: 48%; 
	margin: 1%;
	text-align: center;
}
.start p{
	text-align: left;
	padding: 10px;
	font-size: 17px;
}
.trofe{
	width: 98%;
	margin: 1%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.trofe audio{
	padding: 15px;
}
.trofe2{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.trofe2 div{
	text-align: center;
	width: 31%;
	margin: auto; 
}
.drakt{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.drakt div{
	text-align: center;
	width: 48%;
	margin: auto;
}
.bunnmeny{
	background-color: #330909;
	width: 1100px; 
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.bunntxt{
	width: 98%;
	margin: 1%;
	text-align: center;
	color: #fff
}
.spons{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.spons div{
	text-align: center;
	width: 31%;
	margin: auto;
}